#block {
    border-radius: 25px;
    background: #32CD32;
    padding: 20px; 
    width: 500px;
    height: auto;
    margin: 20px;
    box-shadow: inset 0px 0px 80px 20px #FF6347;
}
body {
    background-color: rgb(29, 28, 28);
    color: white;
}

#root {
    margin-left: auto;
    margin-right: auto;   
    width: 40%;
}

p {
    text-align: center;
}
h1 {
    text-align: center;
}

img {
    width: 30%;
    height: auto;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}